<div class="container">
    <h1><%= issue.title%></h1>
    <h3>Location: <%= issue.address%></h3>
    <h3><i>"<%= issue.problem %>"</i></h3>

    <% var spellMonth = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']%>
    <% var spellDay = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']%>

    (created <%=issue.dateCreated.getHours()%>:<%=issue.dateCreated.getMinutes()%> hrs, <%=spellDay[issue.dateCreated.getDay()]%>,  <%=issue.dateCreated.getDate()%>  <%=spellMonth[issue.dateCreated.getMonth()+1]%> <%=issue.dateCreated.getFullYear()%>)
    <br>
    by <%= issue.user_id.local.firstName %> <%= issue.user_id.local.lastName %>

    <% if( issue.isFixed === false) {%>

      <h4>Status: Pending Action</h4>
      <a class="btn btn-primary" href="/issues">
        <span class="glyphicon glyphicon-triangle-left"></span> Back</a>

      <form method="POST" action="/issues/<%=issue.id%>/fix?_method=PUT&isFixed=true">
          <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-ok-circle"></span> Fix Issue
          </button>
      </form>

    <% } else { %>

      <h4>Status: Completed</h4>
      <a class="btn btn-primary" href="/issues">
        <span class="glyphicon glyphicon-triangle-left"></span> Back</a>
        
      <form method="POST" action="/issues/<%=issue.id%>/fix?_method=PUT&isFixed=false">
          <button class="btn btn-danger" type="submit">
            <span class="glyphicon glyphicon-wrench"></span> Re-open Issue
          </button>
      </form>

    <% }%>

</div>
