<% include ../partials/flash %>

<pre><%=user%></pre>

<h1>Welcome, <%=user.local.firstName%>!</h1>

<a href="/issues/new" class="btn btn-primary">Submit new issue request</a>

<h2>Requests pending action</h2>
<div class="row">
  <% issues.forEach(function(issue) { %>
    <% if( issue.isFixed === false) { %>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= issue.title %>
              <small>(created <%= issue.dateCreated%>)</small>
            </h3>
          </div>
          <div class="panel-body">
            <h5>at <%= issue.address %></h5>
            <h5><i>"<%= issue.problem %>"</i></h5>
            <a href="/issues/<%=issue.id%>" class="btn btn-primary">
              View
            </a>
            <form method="POST" action="/issues/<%= issue.id%>?_method=DELETE">
              <button class="btn btn-danger" type="submit">
                Delete
              </button>
            </form>
            <form action="/issues/<%= issue.id%>/edit">
              <button class="btn btn-warning" type="submit">
                Edit
              </button>
            </form>
          </div>
        </div>
      </div>
    <% } %>
  <% }) %>
</div>

<h2>Completed requests</h2>
<div class="row">
  <% issues.forEach(function(issue) { %>
    <% if( issue.isFixed === true) { %>
      <div class="col-md-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= issue.title %>
              <small>(created <%= issue.dateCreated%>)</small>
            </h3>
          </div>
          <div class="panel-body">
            <h5>at <%= issue.address %></h5>
            <h5><i>"<%= issue.problem %>"</i></h5>
            <a href="/issues/<%=issue.id%>" class="btn btn-primary">
              View
            </a>
            <form method="POST" action="/issues/<%= issue.id%>?_method=DELETE">
              <button class="btn btn-danger" type="submit">
                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    <% } %>
  <% }) %>
</div>
